SPRING_DATASOURCE_URL=jdbc:postgresql://ep-calm-scene-ad0926ar-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=changeme
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# URLs used in generated links
CUSTOM_SCHEME=http
CUSTOM_HOST=localhost:8080

# Local port mapping
PORT=8080

