<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Ticket Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset=utf-8/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css"/>
    <script type="text/javascript" src="/assets/js/script.js"></script>
</head>
<body>
<h1 align="center">Get Ready, [[${name}]] !</h1>

<!-- Clear button to reset all crossed numbers on this page -->
<button id="clearCrosses" style="position:fixed; top:12px; right:12px; padding:6px 10px; cursor:pointer;">Clear</button>

<div>
    <table id="BigTable">
        <tr th:each="ticket : ${tickets}">
            <td>
                <span class="ticket-number">Ticket #[[${ticket.id}]]</span>
                <div>
                    <!-- Attach ticket id so JS can associate crossed numbers per ticket -->
                    <table class="innerTable" th:attr="data-ticket-id=${ticket.id}">
                        <tr th:each="row : ${ticket.numbers}">
                            <!-- Add a semantic class and keep click-target on td.number; store the cell value as data-number on span -->
                            <td th:each="cell : ${row}" th:classappend="${cell}!=0 ? number">
                                <span th:text="${cell}" class="diag1 ticket-cell" th:if="${cell}!=0" th:attr="data-number=${cell}"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    </div>
</body>
</html>
